<div class="heroContainer">
    <div class="hero">
        <img src="/img/couch_budget.png" alt="On the couch with laptop" />
        <div class="smartMoney">
            <p>Smart money decisions make all the difference</p>
            <h1>Sign in for a DEBT FREEDOM plan</h1>
            <div class="formInputHolder">
                <button class="loginButton" type="submit" name="getStarted" ng-click="signup(newUser)">See what you can do NOW</button>
            </div>
        </div>
    </div>
</div>
<div class="">

</div>
