<section class="heroContainer">

    <div class="smartMoney">
        <p>Smart financial decisions make all the difference</p>
        <h1>Sign in for a DEBT FREEDOM plan</h1>
        <form class="formInputHolder" action="#/signup">
            <button class="loginButton" type="submit" name="getStarted">See what you can do NOW</button>
        </form>
    </div><!-- smartMoney -->

    <div class="hero">
        <img src="/img/couch_budget.png" alt="On the couch with laptop" />
    </div>

</section>

<section class="publicGraphsContainer">

    <div class="publicGraphsTitle">
        <h2>Let's look at the numbers</h2>
    </div>

    <div class="publicGraphsArea">

        <div class="stat">
            <img src="/img/graph_34.svg" alt="34% graph" />
            <p>of Americans report being under financial stress*</p>
        </div>

        <div class="stat centerStat">
            <img src="/img/graph_57.svg" alt="57% graph" />
            <p>spend all of (or more than) what they make*</p>
        </div>

        <div class="stat">
            <img src="/img/graph_47.svg" alt="47% graph" />
            <p>couldn't handle an unexpected expense of $400*</p>
        </div>

    </div><!-- publicGraphsArea -->

    <div class="statsFootnote">
        <p>*Report on the Economic Well-Being of U.S. Households in 2014, Board of Governors of the Federal Reserve System.</p>
    </div>

</section><!-- publicGraphsContainer -->

<section class="heroContainer2">

    <div class="hero2">
        <img src="/img/life-balance-canoe.jpg" alt="guy in a canoe" />
    </div>

    <div class="lifeBalanceCopy">
        <h2>Live your life</h2>
        <p>It's far easier to live your life as you want when you can finally stop fighting the money monster. Take your family to a better place... with debt freedom.</p>
    </div>

</section><!-- heroContainer2 -->
