<div class="landingBackground">
    <img src="img/waterfall1.jpg" alt="waterfall" />
</div>

<div class="blurbWrapper">

    <div class="waterfallLanding">
        <p>Money Waterfall</p>

        <div class="waterfallCopy">
            <p>
                Following the Dave Ramsey style of debt freedom we will help you become debt free as soon as you can. Easily create your Money Waterfall and find out just how fast and easy it can be to become DEBT FREE!
            </p>
        </div>

        <div class="buttonsArea">
            <div>
                <a ui-sref="user">
                    <button class="signUpButton" type="button" name="signUpButton">Sign Up</button>
                </a>
            </div>
            <div>
                <a href="/login/facebook">
                    <button class="facebookButton" type="button" name="facebookButton"></button>
                </a>
            </div>

        </div>
    </div>

</div>
