<div class="newUserForm">
    <input type="text" name="fName" placeholder="Your first name..." ng-model="user.fName">
    <input type="text" name="lName" placeholder="Your last name..." ng-model="user.lName">
    <input type="text" name="email" placeholder="Your email..." ng-model="user.email">
    <input type="text" name="username" placeholder="Username..." ng-model="user.username">
    <input type="password" name="password" placeholder="Password..." ng-model="user.password">
    <button type="button" name="getStarted" ng-click="XXXXXX">Get Started</button>
</div>
