<div class="landingBackground">
    <img src="img/waterfall1.jpg" alt="waterfall" />
</div>

<div class="blurbWrapper">

    <div class="waterfallLanding">
        <p>Money Waterfall</p>

        <div class="waterfallCopy">
            <p>
                Following the Dave Ramsey style of debt freedom we will help you become debt free as soon as you can. Easily create your Money Waterfall and find out just how fast and easy it can be to become DEBT FREE!
            </p>
        </div>

        <div class="loginFormContainer">
            <div class="formHolder">
                <form class="userForm" action="/auth/login">
                    <div class="formInputHolder">
                        <input class="formItemInput" type="text" name="fName" placeholder="First name:" ng-model="user.fName">
                    </div>
                    <div class="formInputHolder">
                        <input class="formItemInput" type="text" name="lName" placeholder="Last name:" ng-model="user.lName">
                    </div>
                    <div class="formInputHolder">
                        <input class="formItemInput" type="text" name="email" placeholder="Email:" ng-model="user.email">
                    </div>
                    <div class="formInputHolder">
                        <input class="formItemInput" type="password" name="password" placeholder="Password:" ng-model="user.password">
                    </div>

                    <a ui-sref="/waterfall">
                        <button class="loginButton" type="button" name="getStarted" ng-click="newUser(user) ">Now lets look at your debts</button>
                    </a>
                </form>
            </div>
        </div>
    </div>

</div>
