<div class="waterfallBackground">
    <img src="img/waterfall1.jpg" alt="waterfall" />
</div>

<div class="waterfallLanding">
    <p>Money Waterfall</p>

    <div class="loginFormContainer">
        <div class="formHolder">
            <form class="userForm" name="signupForm">
                <div class="formInputHolder">
                    <input class="formItemInput" type="text" name="fName" placeholder="First name:" ng-model="newUser.fName" autofocus required>
                </div>
                <div class="formInputHolder">
                    <input class="formItemInput" type="text" name="lName" placeholder="Last name:" ng-model="newUser.lName" required>
                </div>
                <div class="formInputHolder">
                    <input class="formItemInput" type="email" name="emailaddress" placeholder="Email:" ng-model="newUser.email" required>
                </div>
                <div class="formInputHolder">
                    <input class="formItemInput" type="password" name="password" placeholder="Password:" ng-model="newUser.password" ng-keyup="$event.keyCode === 13 && signup(newUser)" required>
                </div>
                <div class="formInputHolder">
                    <button class="loginButton" type="submit" name="getStarted" ng-click="signup(newUser)">Now lets look at your debts</button>
                </div>
            </form>
        </div><!-- formHolder -->
    </div><!-- loginFormContainer -->

</div>
