<section class="debtsBox">

    <div class="topTitle">
        <h1>Enter Your Debts</h1>
    </div>

    <div class="inputDebtsContainer">

        <div class="inputsArea">
            <div class="input">
                <input type="text" name="name" placeholder="Creditor Name..." maxlength="20" ng-model="newDebt.name">
            </div>
            <div class="input">
                <input type="number" name="rate" placeholder="Interest rate (ie.19.9)..." ng-model="newDebt.rate">
            </div>
            <div class="input">
                <input type="number" name="base" placeholder="Minimum base payment..." ng-model="newDebt.base">
            </div>
            <div class="input">
                <input type="number" name="balance" placeholder="Balance right now..." ng-model="newDebt.balance" ng-keyup="$event.keyCode === 13 && addDebt(newDebt)">
            </div>
        </div>

    </div><!-- inputDebtsContainer -->

    <div class="totalBase">
        <p>MonthlyRequirement </p>
        <p class="totalBaseAmt">{{totalBase | currency}}</p>
        <p>How much can you commit?</p>
        <input type="text" name="monthlyCommit" ng-model="monthlyCommit" ng-keyup="$event.keyCode === 13 && updateUser(monthlyCommit)">
    </div>

    <div class="waterfall">
        Your first money waterfall will be <span>{{waterfall | currency}}</span>
    </div>

</section><!-- debtsBox -->

<section class="payoffButtonsContainer fade" ng-show="waterfall">
    <p>
        <button class="payoffButton" type="button" ng-click="payTheBills(waterfall, debts, 'balance'); showFinalIdeas(); hideBeforePayments()">Sort and pay debts by smallest balance first</button>
    </p>
    <span class="sortExpl">Recommended because the faster results will help you stick with it!</span>
    <p>
        <button class="payoffButton" type="button" ng-click="payTheBills(waterfall, debts, 'rate'); showFinalIdeas(); hideBeforePayments()">Sort and pay debts by highest interest rate first</button>
    </p>
    <span class="sortExpl">This method might save some interest in the long run</span>

</section><!-- payoffButtonsContainer -->

<div class="sortMessage fade" ng-show="waterfall">
    <span>Currently sorted by: {{sorter}}</span>
</div>

<section class="debtCards">

    <div class="debtCars_full fade" ng-repeat="debt in debts | orderBy : sorter" ng-if="beforePayments">
        <button class="deleteDebtButton_before" type="button" name="deleteDebt" class="deleteDebtButton" ng-click="deleteDebt(debt)"><i class="fa fa-trash-o"></i></button>
        <table class="debtsTable">
            <tr>
                <th class="dCard_RPB_Hcol1">Creditor:</th>
                <th class="dCard_RPB_Hcol2">{{debt.name}}</th>
            </tr>
            <tr>
                <td class="dCard_RPB_col1">Int Rate:</td>
                <td class="dCard_RPB_col2">{{debt.rate}}%</td>
            </tr>
            <tr>
                <td class="dCard_RPB_col1">Base Pmt:</td>
                <td class="dCard_RPB_col2">{{debt.base | currency}}</td>
            </tr>
            <tr>
                <td class="dCard_RPB_col1">Balance:</td>
                <td class="dCard_RPB_col2">{{debt.balance | currency}}</td>
            </tr>
        </table>
    </div><!-- debtCars_full fade -->

    <div ng-repeat="debt in newDebts | orderBy : sorter">

        <div class="debtCards_debtSide_container fade" ng-if="!beforePayments">
            <div class="debtCards_debtSide">
                <button class="deleteDebtButton_after" type="button" name="deleteDebt" class="deleteDebtButton" ng-click="deleteDebt(debt)"><i class="fa fa-trash-o"></i></button>
                <table class="debtsTable">
                    <tr>
                        <th class="dCard_RPB_Hcol1">Creditor:</th>
                        <th class="dCard_RPB_Hcol2">{{debt.name}}</th>
                    </tr>
                    <tr>
                        <td class="dCard_RPB_col1">Int Rate:</td>
                        <td class="dCard_RPB_col2">{{debt.rate}}%</td>
                    </tr>
                    <tr>
                        <td class="dCard_RPB_col1">Base Pmt:</td>
                        <td class="dCard_RPB_col2">{{debt.base | currency}}</td>
                    </tr>
                    <tr>
                        <td class="dCard_RPB_col1">Balance:</td>
                        <td class="dCard_RPB_col2">{{debt.balance | currency}}</td>
                    </tr>
                </table>
            </div><!-- debtCards_debtSide -->
        </div><!-- debtCards_debtSide_container fade -->

        <div class="debtCards_timeSide_container" ng-if="!beforePayments">
            <div class="debtCards_timeSide">
                <p>Paid-Off Date:</p>
                <p>{{debt.months | date: 'MMM yyyy'}}</p>
            </div><!-- debtCards_timeSide -->
        </div><!-- debtCards_timeSide_container -->

    </div><!-- debtCars_full -->

</section><!-- debtCards -->

<div class="clearFloat"></div>

<div class="finalIdeas" ng-show="finalIdeas">
    <h3>You could be debt FREE by {{newDebts[newDebts.length -1].months | date: 'MMM yyyy'}} and have {{moneyCommitted | currency}} in disposable income!</h3>
    <p class="life">What would your life look like then?</p>
    <div class="addMore">
        Try adding more to the amount that you can put toward your monthly bills and see how quicker it could be.
    </div>
</div>
