/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;outline:0;font:inherit;vertical-align:baseline}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
/* box-sizing to most items */
body,header,main,footer,div,article,aside,details,figcaption,figure,hgroup,menu,nav,input,textarea,select,a,p,ul,ol,li,span{box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
/* end reset */

html,
body {
	margin:0;
	padding:0;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #E0EFDD;
	/*background: #9BCB52;
	background: -moz-linear-gradient(top,  #9BCB52 0%, #DA751D 100%);
	background: -webkit-linear-gradient(top,  #9BCB52 0%,#DA751D 100%);
	background: linear-gradient(to bottom,  #9BCB52 0%,#DA751D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9BCB52', endColorstr='#DA751D',GradientType=0 ); */

}
#mainWrapper {
	min-height: 100%;
	position: relative;
}


#headerWrapper {
	background: #A6CE95;
	/*padding: 18px;*/
}
.headerContainer {
	width: 100%;

}
.logoContainer {
	width: 50%;
	display: inline-block;
}
	.logoImg {
		width: 222px;
		position: absolute;
		top: 5px;
		left: 10px;

	}
.navLinksContainer {
	width: 50%;
	float: right;
	height: 80px;
}
	.navLinks ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    /*overflow: hidden;*/
	    background-color: #A6CE95;
	}
		.navLinks li {
			width: 120px;
			margin-right: 20px;
			display: inline;
			float: right;
			color: whitesmoke;
			text-shadow: 2px 2px #000;
			line-height: 80px;
		}
			.navLinks li a {
			    display: block;
			    color: white;
			    text-align: center;
			    /*padding: 0 16px;*/
			    text-decoration: none;
				/*border-radius: 5px;*/

			}

			.navLinks li a:hover {
			    background-color: #5C7E26;
				-webkit-transition: 0.15s ease-in-out;
				-moz-transition: 0.15s ease-in-out;
				-o-transition: 0.15s ease-in-out;
				-ms-transition: 0.15s ease-in-out;
				transition: 0.15s ease-in-out;
			}
.clearFloat {
	clear: both;
}




#contentWrapper {
	/*padding-bottom: 160px; /* Height of the footer element */*/
}








/*--- HOME PAGE STUFF ---*/


.heroContainer {
	width: 100%;
}
	.hero {
		position: absolute;
		width: 100%;
		top: 80px;
	}
		.hero img {
			width: 100%;
			-webkit-clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
			clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
		}
	.smartMoney {
		position: absolute;;
		top: 16vw;
		width: 100%;
		text-align: center;
		z-index: 1;
	}
		.smartMoney p {
			font-size: 22px;
			color: whitesmoke;
			text-shadow: 2px 2px 1px #000;

		}

		.smartMoney h1 {
			font-family: 'Arvo', serif;
			font-size: 30px;
			color: whitesmoke;
			margin: 12px;
			text-shadow: 2px 2px 1px #000;

		}
.publicGraphsContainer {
	width: 100%;
	max-width: 1300px;
	padding: 24px;
	text-align: center;
	margin: 0 auto;
	padding: 40vw 0 20px 0;
}
	.publicGraphsTitle {
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 60px;
	}
	.publicGraphsArea {
		/*border: 1px solid blue;*/
		width: 80%;
		/*height: 300px;*/
		margin: 20px auto;
		display: flex;

	}
		.stat {
			width: 33%;
			padding: 12px;
		}
			.stat img {
				width: 40%;
				margin-bottom: 12px;
			}
		.centerStat {
			width: 34%;
			border-left: 1px solid #D1D3D4;
			border-right: 1px solid #D1D3D4;
		}
	.statsFootnote {
		margin: 40px;
		font-size: 12px;
		color: #909090;
	}
.heroContainer2 {
	width: 100%;
}
.hero2 {
	width: 100%;
}
.hero2 img {
	width: 100%;
}
.lifeBalanceCopy {
	position: relative;
	left: 5vw;
	bottom: 42vw;
	width: 30vw;
	max-width: 600px;
	min-width: 200px;
	background: rgba(0, 0, 0, .5);
	color: whitesmoke;
	padding: 18px;
}
.lifeBalanceCopy h2 {
	font-size: 40px;
	margin-bottom: 18px;
}
.lifeBalanceCopy p {
	font-size: 28px;
	line-height:
}








/*--- SIGNUP AND LOGIN STUFF ---*/


.waterfallBackground {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
	.waterfallBackground img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		min-width: 50%;
		min-height: 50%;
	}
.waterfallLanding {
	width: 600px;
	background: rgba(255, 255, 255, .5);
	font-family: 'Arvo', serif;
	font-size: 48px;
	font-weight: 700;
	position: fixed;
	left: calc(50% - 300px);
	top: 120px;
	padding: 20px;
	border-radius: 10px;
}
	.waterfallLanding >p {
		text-align: center;
		color: #35794B;
		text-shadow: 2px 2px 1px #3a4726;
	}

.waterfallCopy {
	margin: 20px 20px 10px 20px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: justify;
}
.buttonsArea {
	width: 100%;
	text-align: center;
}
.signUpButton {
	background: #DA751D;
	width: 200px;
	height: 40px;
	border-radius: 5px;
	margin-bottom: 12px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-size: 16px;
	color: white;
	text-decoration: none;
}
.signUpButton:hover {
	background: #B56117
}
/*.facebookButton {
	width: 330px;
	height: 40px;
	background: url(/img/LoginFB_large.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
	margin-top: 12px;
}*/
.loginFormContainer {
	width: 100%; /* was 340px*/
    height: 360px;
    margin: 0 auto;
    /*padding: 30px 0;*/
	text-align: center;
}
.formHolder {
	margin: 0px;
    padding: 0px;
}
.userForm {
	margin: 0px;
    padding: 0px;
}
.formInputHolder {
	padding-top: 12px;
}
.formItemInput {
	width: 330px;
	height: 45px;
	background: none;
	background-color: #fff;
	border: 2px solid #D1D3D4;
	border-radius: 5px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: normal;
	font-size: 16px;
	padding-left: 12px;
}
.loginButton {
	background: #DA751D;
	width: 330px;
	height: 45px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-size: 16px;
	color: white;
	text-decoration: none;
}
.loginButton:hover {
	background: #B56117
}

.forgotPassword {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 12px;
	margin-top: 8px;
}
.forgotPassword a {
	text-decoration: none;
	color: #0b6ddf;
}
.loginError {
	margin-top: 15px;
	color: red;
	font-size: 14px;
}












.debtsBox{
	width: 732px;
	margin: 0 auto;
	margin-top: 40px;
	border-radius: 8px;
	box-shadow: 0px 1px 2px #234214;
	-webkit-box-shadow: 0px 1px 2px #234214;
	background-color: #fff;
}
.topTitle {
	font-size: 30px;
	font-weight: 700;
	padding-left: 12px;
	padding-bottom: 20px;
}
.totalBase {
	width: 280px;
	height: 120px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	text-align: center;
}
	.totalBase p {
		padding-top: 10px;
	}
	.totalBase input {
		text-align: center;
		border-radius: 3px;
		margin: 10px;
	}
	.totalBaseAmt {
		color: red;
	}
.inputDebtsContainer {
	width: 440px;
	height: 120px;
	display: inline-block;
	vertical-align: top;
}
	.inputsArea {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
    	margin-top: 12px;
	}
		.input {
			width: 200px;
			height: 40px;
			border-bottom: 1px solid #2A0C8D;
			margin: 6px;

		}
			.input input {
				border: none;
				line-height: 36px;
    			font-size: 16px;
			}

.waterfall {
	font-size: 16px;
	text-align: center;
	line-height: 20px;
	padding-bottom: 12px;
}
.waterfall span {
	color: green;
	font-weight: bold;
}
.payoffButtonsContainer {
	width: 732px;
	margin: 0 auto;
	border-radius: 8px;
	box-shadow: 0px 1px 2px #234214;
	-webkit-box-shadow: 0px 1px 2px #234214;
	background-color: #fff;
	margin: 20px auto;
	padding: 12px;
	line-height: 20px;
	text-align: center;
}
.payoffButton {
	width: 400px;
	height: 36px;
	padding: 0;
	border: none;
	border-radius: 5px;
	background: #A6CE95;
	margin-top: 12px;
}
.sortExpl {
	margin-top: 6px;
	font-size: 12px;
}

.deleteDebtButton_before {
	position: relative;
	top: 20px;
	left: 200px;
	width: 20px;
	height: 20px;
	/*color: whitesmoke;*/
	font-size: 15px;
	background: #fff;
	border: none;
	/*margin-right: 4px;
	margin-left: 4%;
    margin-top: 12px;*/
}
.deleteDebtButton_after {
	position: relative;
	top: 20px;
	left: 18px;
	width: 20px;
	height: 20px;
	/*color: whitesmoke;*/
	font-size: 15px;
	background: #fff;
	border: none;
	/*margin-right: 4px;
	margin-left: 4%;
    margin-top: 12px;*/
}

.sortMessage {
	color: red;
	font-size: 12px;
	text-align: center;
}
.debtCards {
	width: 732px;
	/*height: 100px;*/
	margin: 0 auto;
	/*border-radius: 8px;*/
	/*box-shadow: 0px 1px 2px #234214;*/
	/*-webkit-box-shadow: 0px 1px 2px #234214;*/
	/*background-color: #fff;*/
	margin: 20px auto;
	/*line-height: 20px;*/
}
.debtCars_full {
	width: 100%;
	height: 120px;
	border-radius: 8px;
	box-shadow: 0px 1px 2px #234214;
	-webkit-box-shadow: 0px 1px 2px #234214;
	background-color: #fff;
	margin-bottom: 18px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade {
  transition: .5s linear all;
  -webkit-transition: .5s linear all;
}
.fade.ng-enter {
  animation: .5s appear;
}
.fade.ng-leave {
  animation: .5s disappear;
}

.debtCards_debtSide_container {
	width: 49.9%;
	float: left;
}
.debtCards_timeSide_container {
	width: 49.9%;
	float: right;
}
.debtCards_debtSide {
	width: 100%;
	height: 120px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	box-shadow: 0px 1px 2px #234214;
	-webkit-box-shadow: 0px 1px 2px #234214;
	background-color: #fff;
	margin-bottom: 18px;
}
.debtCards_debtSide p {
	margin: 4px auto;
}
.debtsTable {
	margin: 0 auto;
}
.dCard_RPB_Hcol1 {
	text-align: left;
	width: 80px;
}
.dCard_RPB_Hcol2 {
	text-align: right;
	font-weight: bold;
	width: 190px;
}
.dCard_RPB_col1 {
	text-align: left;
}
.dCard_RPB_col2 {
	text-align: right;
}
.debtCards_timeSide {
	width: 100%;
	height: 120px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0px 1px 2px #234214;
	-webkit-box-shadow: 0px 1px 2px #234214;
	background-color: #fff;
	margin-bottom: 18px;
	padding: 30px 20px 20px 20px;
	text-align: center;
}
.debtCards_timeSide p {

}
.logoutButton {
    width: 90px;
    height: 40px;
    padding: 12px;
    position: relative;
    top: 0px;
    left: 642px;
    font-size: 16px;
    color: #DA751D;
    border-top-right-radius: 8px;
    text-align: center;
    border-left: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.logoutButton:hover {
	cursor: pointer;
	font-weight: bold;
}
.finalIdeas {
	width: 732px;
	text-align: center;
	margin: 12px auto;
	font-size: 18px;
}
.finalIdeas h3 {
	font-weight: bold;
	margin-bottom: 8px;
}
.life {
	font-family: 'Arvo', serif;
	font-size: 24px;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 10px;
}
.addMore {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}









#footerWrapper {
	background: #234214;
	width: 100%;
	height: 160px;
	padding-top: 20px;
	/*position: absolute;
	bottom: 0;
	left: 0;*/
}
.disclaimer {
	width: 732px;
	max-width: 75%;
	margin: 12px auto;
	font-size: 10px;
	text-align: justify;
	color: whitesmoke;
}
.copyright {
	text-align: center;
	margin-top: 12px;
	font-size: 12px;
	color: whitesmoke;
}
