/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;outline:0;font:inherit;vertical-align:baseline}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
/* box-sizing to most items */
body,header,main,footer,div,article,aside,details,figcaption,figure,hgroup,menu,nav,input,textarea,select,a,p,ul,ol,li,span{box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
/* end reset */

html,
body {
	margin:0;
	padding:0;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #EAFFC9;
}
#mainWrapper {
	min-height:100%;
	position:relative;
}
#headerWrapper {
	background:#9BCB52;
	padding:10px;
}
#contentWrapper {
	padding-bottom: 60px; /* Height of the footer element */
}



.landingBackground {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	z-index: -1;
}
.landingBackground img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}
.waterfallLanding {
	width: 600px;
	background: rgba(255, 255, 255, .5);
	font-family: 'Arvo', serif;
	font-size: 48px;
	font-weight: 700;
	position: fixed;
	left: calc(50% - 300px);
	top: 120px;
	padding: 20px;
	border-radius: 10px;
}
.waterfallLanding >p {
	text-align: center;
	color: #34E03E;
	text-shadow: 2px 2px 1px #3a4726;
}

.waterfallCopy {
	margin: 20px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: justify;
}
.buttonsArea {
	width: 100%;
	text-align: center;
}
.signUpButton {
	background: #DA751D;
	width: 200px;
	height: 40px;
	border-radius: 5px;
	margin-bottom: 12px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 16px;
	color: white;
	text-decoration: none;
}
.facebookButton {
	width: 200px;
	height: 40px;
	background-image: url(/img/LoginFB_medium.png);
	border-radius: 5px;
}









.debtsBox{
	width: 732px;
	/*border: 1px solid blue;*/
	margin-left: calc(50% - 366px);
	margin-top: 40px;
	border-radius: 8px;
	box-shadow: 0px 1px 2px #888;
	-webkit-box-shadow: 0px 1px 2px #888;
	background-color: #fff;
}
.topTitle {
	/*text-align: center;*/
	font-size: 30px;
	font-weight: 700;
	padding-top: 15px;
	padding-left: 12px;
}
.totalBase {
	width: 140px;
	height: 120px;
	/*border: 1px solid blue;*/
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
}
	.inputDebtsInstr p {
		margin-top: 20px;
		font-size: 14px;
	}
.inputDebtsContainer {
	width: 440px;
	height: 120px;
	/*border: 1px solid blue;*/
	display: inline-block;
	vertical-align: top;
}
	.inputsArea {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		/*border: 1px solid blue;*/
    	margin-top: 12px;
	}
		.input {
			width: 200px;
			height: 40px;
			border-bottom: 1px solid #2A0C8D;
			margin: 6px;

		}
			.input input {
				border: none;
				line-height: 36px;
    			font-size: 16px;
			}

.monthlyCommit {
	width: 140px;
	height: 120px;
	display: inline-block;
	/*border: 1px solid blue;*/
	vertical-align: top;
}
.monthlyCommit input {
	width: 136px;
}
.deleteDebtButton {
	width: 20px;
	height: 20px;
	/*color: whitesmoke;*/
	font-size: 15px;
	background: #fff;
	border: none;
	margin-right: 4px;
}
.debtCards {
	width: 732px;
	margin-left: calc(50% - 366px);
	border-radius: 8px;
	box-shadow: 0px 1px 2px #888;
	-webkit-box-shadow: 0px 1px 2px #888;
	background-color: #fff;
	margin: 20px auto;
	padding: 12px;
	line-height: 20px;
}
.debtCards p {
	margin: 2px auto;
}
.dCard_credName {
	font-weight: bold;
	margin: 0 2px;
}
.payoffButtonsContainer {
	width: 732px;
	margin-left: calc(50% - 366px);
	border-radius: 8px;
	box-shadow: 0px 1px 2px #888;
	-webkit-box-shadow: 0px 1px 2px #888;
	background-color: #fff;
	margin: 20px auto;
	padding: 12px;
	line-height: 20px;

}




#footerWrapper {
	background: #DA751D;
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
	/*z-index: -1;*/
}
